.container {
    width: 30%;
    min-height: 100vh;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2.5em;
    border: solid 1px #000;
    border-radius: 16px;
    background-color: #FBF5F4;
}

.search-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 100%;
    align-items: center;
    justify-content: center;
}

#pesquisa {
    width: 75%;
    height: 2em;
}

button {
    border: none;
    background-color: transparent;
}

button:hover {
    cursor: pointer;
}

button:active {
    cursor: default;
}

.contacts-container {
    width: 100%;
    margin: 2em 0;
}

.contact {
    width: 100%;
    margin: .5em 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
}

.contact-name {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: .5em;
}

.red {
    color: #aa3333;
}

@media screen and (min-width: 768px) {
    .container {
        width: 468px;
        min-height: 100vh;
    }
}