.container {
    width: 30%;
    height: auto;
    margin: 5em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    width: 100%;
}

#pesquisa {
    width: 75%;
}

.contacts-container {
    width: 100%;
    margin: 2em 0;
}

.contact {
    width: 100%;
    margin: .5em 0;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}